// Sassy
@use 'variables' as var;
@use 'login';
@use 'form';
@use 'button';
@use 'flash';
@use 'profile';
@use 'card';
@use 'comment';

body {
  font-size: 1rem;
  margin: auto;
  height: 100%;
  width: 100%;

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var.$text-base-color;
  }

  .main_head {
    width: 100%;

    &_upper {
      width: 100%;
      height: 60px;
    }
  }

  .container {
    padding: 16px;
    width: 100%;
  }
}

.hidden {
  display: none;
}