@use 'variables' as var;

.profile_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;

  .back_img {
    width: 20px;
    height: 20px;
  }

  .profile_name {
    margin: auto;
    font-size: 1.2em;
  }

  .profilePage_user_actionButton {
    a {
      color: #bdbdbd;
      font-size: 1em;
      font-weight: 700;
    }
  }
}

.profilePage_user_image {
  text-align: center;
  margin: 40px 0;

  img {
    width: 90px;
    height: 90px;
    border-radius: 32px;
  }
}

.profilePage_user_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.user_posts,
.user_followers,
.user_following {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: rgb(158, 158, 158);
  }

  .posts,
  .followers,
  .following {
    color: var.$text-base-color;
  }
}